<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.mapper.MallNoteMapper">

    <resultMap id="BaseResultMap" type="com.polaris.entity.MallNote">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="replyCount" column="reply_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_user,title,
        tags,images,content,
        status,create_time,read_count,
        reply_count
    </sql>
</mapper>
